<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyLtCxnv2T5_uiCDNU4tvay3eQgQSezYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>225751816843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicPlayerApp</string>
	<key>PROJECT_ID</key>
	<string>music-app-976f8</string>
	<key>STORAGE_BUCKET</key>
	<string>music-app-976f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225751816843:ios:4ae23097bec38a824a928e</string>
</dict>
</plist>